body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #1e1e1e;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

.container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    background: #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto; 
    max-height: 80vh; 
}

h1 {
    font-size: 2rem;
    color: #ff6347;
    margin-bottom: 20px;
}

.intro-text {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.vigenere-container {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center; 
}

.vigenere-container img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.input-container {
    margin-top: 20px;
}

input[type="text"] {
    font-size: 1.2rem;
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

button {
    font-size: 1.2rem;
    padding: 10px 20px;
    background: #ff6347;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #e5533f;
}

#result-message {
    margin-top: 20px;
    font-size: 1.2rem;
}

img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.container1 {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.finalh {
    color: #4CAF50;
    font-size: 2.5em;
    margin-bottom: 20px;
}

#restart-game {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restart-game:hover {
    background-color: #45a049;
}

a{
    color: transparent;
}
